@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    Love Slipper  is involved in the design, development, 
    manufacturing, and worldwide marketing and sales of slippers.
</div>
