@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
   <p> Love Slipper  is involved in the design, development, 
    manufacturing, and worldwide marketing and sales of slippers.
    Love slipper goal is to produce comfortable and long lasting slippers for every age group</p>
    <p><ul><li>Uwaguosa Aluyi-Osa : CEO of Love Slipper</li>
        <li>Jim Fekir : Product design manager</li></ul> Main Headquarter is in Munchen, Germany</p>
    <p>contact us at <a href="tel:+226506903">2265097874</a></p> 
</div>
