@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color: rgb(203, 181, 181);">
    <h1 class="display-4">Welcome To Love Slipper</h1>


</div>
<img src="~/img/Pic.jpg" alt="slide" />